html, body {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    font-family: arial, sans;
    color: white;
}
a {
    color: inherit;
}
.container {
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    max-width: 1000px;
}